html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.header-body {
    width: 100%;
    height: 60px;
    background: #2E2E2E;
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.header-left {
    flex: 1;
}

.header-left div {
    color: white;
    font-size: 22px;
}

.header-link-title {
    width: 150px;
    cursor: pointer;
    transition: color .25s;
}

.header-link-title:hover {
    color: #73788E;
}

.header-right {
    flex: 1;
}

.header-right > nav {
    display: flex;
    justify-content: flex-end;
    color: white;
}

.header-link {
    width: 90px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: color .25s;
}

.header-link:hover {
    color: #B7BBAE;
}

.header-about {
    display: none;
}

.header-contact {
    margin-left: 20px;
}

@media (max-width: 750px) {
    .header-body {
        height: 100px;
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        padding: 0;
    }

    .header-left {
        display: flex;
        justify-content: center;
    }

    .header-left div {
        color: #F8988C;
    }

    .header-link-title {
        display: flex;
        align-items: center;
    }

    .header-right {
        width: 100%;
        justify-content: space-between;
    }

    .header-right > nav {
        width: 100%;
    }

    .header-link {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-about {
        display: block;
    }

    .header-contact {
        margin: 0;
    }
}