html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.flip-image {
    transform: scaleX( -1 );
    padding-right: 100px;
}
.flip-image div {
    transform: scaleX( -1 );
}

.main-body {
    width: 100%;
    height: 650px;
    background: url('../../images/hero3.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 75px;
    padding-left: 100px;
}

.main-greeting {
    font-size: 100px;
    color: white;
}

@media (max-width: 750px) {
    .flip-image {
        padding-right: 20px;
    }
    .main-body {
        width: 100%;
        padding-left: 20px;
        padding-bottom: 40px;
        background-position: 55% center;
    }

    .main-greeting {
        font-size: 48px;
    }
}