html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.main-body {
    width: 100%;
    height: 650px;
    background: url('../../images/hero.JPG') no-repeat center center fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 75px;
    padding-left: 100px;
    font-family: Helvetica, sans-serif;    
}

.main-greeting {
    font-size: 100px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

@media (max-width: 750px) {
    .main-body {
        width: 100%;
        padding-left: 20px;
        padding-bottom: 40px;
        background-position: 55% center;
    }

    .main-greeting {
        font-size: 48px;
    }
}