@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

:root {
    --gradient-left: #263354;
    --gradient-right: #B7BBAE;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
    font-family: 'Open Sans', sans-serif;
}

.app-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-sidebyside {
  width: 100%;
  display: flex;
}

.app-footer {
  width: 100%;
  height: 30px;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 14px;
}

@media (max-width: 750px) {
  .app-body {
    width: 100%;
  }

  .app-sidebyside {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .app-footer {
    width: 100%;
  }
}