@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.app-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

.app-sidebyside {
  width: 100%;
  height: 350px;
  display: flex;
}

.app-footer {
  width: 100%;
  height: 30px;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 14px;
}