html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.skills-body {
    width: 100%;
    height: 300px;
    background: #2E2E2E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.skills-body p {
    margin: 0;
    padding: 0;
}

.skills-title {
    max-width: 100%;
    height: 100%;
    color: #fff1;
    position: absolute;
    font-size: 660px;
    top: -204px;
}

.skills-head {
    font-size: 40px;
    color: white;
}

.skills {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.skills img {
    margin-bottom: 16px;
}

.two {
    width: 50%;
    margin-top: 24px;
}

.skills div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 750px) {
    .skills-body {
        height: auto;
        padding-top: 60px;
        padding-bottom: 30px;
    }

    .skills {
        flex-wrap: wrap;
        width: 90%;
    }

    .skills > div {
        width: 45%;
    }

    .skills p {
        margin-top: -12px;
        margin-bottom: 30px;
    }

    .two {
        width: 75%;
    }
}